<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.techboard.dao.cmpInfo.CmpInfoMapper">


	<!-- 페이징 적용 상단 -->
	<sql id="COMMON_PAGING_HEADER">
		SELECT R1.* FROM (
	</sql>
	
	<!-- 페이징 적용 하단 -->
	<sql id="COMMON_PAGING_TAIL">
		) R1
	</sql>
	
	<!-- selectCmpInfoList - 회사 정보 목록 조회 -->
    <select id="selectCmpInfoList" resultType="com.techboard.vo.cmpInfo.CmpInfoVO" parameterType="com.techboard.vo.cmpInfo.CmpInfoVO">
	/** selectCmpInfoList- 회사 정보 목록 조회  **/
	SELECT 	C.*
	FROM	(	
		SELECT 	@rownum:=@rownum+1	AS rownum
			,	V.*
		FROM	(
					<include refid="COMMON_PAGING_HEADER"/>
					SELECT 	A.CMP_NO					AS 	cmpNo
						,	A.CMP_TITLE					AS 	cmpTitle
					    ,	A.CMP_LOCATION				AS 	cmpLocation	
					    ,	A.CMP_FOUNDED_YEAR			AS 	cmpFoundedYear
					    ,	date_format(sysdate(), '%Y') - A.CMP_FOUNDED_YEAR AS foundedYear
					    ,	format(A.CMP_EMP_CNT, 0)	AS 	cmpEmpCnt
					    ,	format(A.CMP_TOUCH, 0)		AS 	cmpTouch
					    ,	A.CMP_KIND					AS 	cmpKind
					    ,	A.CMP_DEADLINE_DTTM			AS 	cmpDeadlineDttm
					    , 	DATEDIFF(A.CMP_DEADLINE_DTTM, DATE_FORMAT(sysdate(), '%Y%m%d')) AS deadlineDay
					    ,	A.CMP_JOB_POSITION			AS 	cmpJobPosition
					    ,	A.CMP_JOB_RESPONSE			AS 	cmpJobResponse
					    ,	A.CMP_JOB_QUALIFICATION		AS 	cmpJobQualification
					    ,	A.CMP_JOB_PREFER			AS 	cmpJobPrefer
					    ,	A.CMP_WAREFARE				AS 	cmpWareFare
					    ,	A.CMP_COMMENT				AS 	cmpComment
					    ,	A.REG_DTTM					AS 	regDttm
						,	A.MOD_DTTM					AS 	modeDttm
					    ,	A.USE_YN					AS 	useYn
					    ,	A.CMP_APPLY_YN				AS 	cmpApplyYn
					    ,	A.CMP_INCEDENCE_RATE		AS 	cmpIncedenceRate
					    ,	A.CMP_RESIGNATION_RATE		AS 	cmpResignationRate
					    ,	A.CMP_RECURIT_URL			AS 	cmpRecuritUrl
					    ,	A.CMP_HOMEPAGE_URL			AS 	cmpHomepageUrl
					    ,	A.CMP_PROGRAMMER_KIND		AS 	cmpProgrammerKind
					    , 	A.CMP_FAVORITES_YN			AS 	cmpFavoritesYn
					    , 	A.CMP_GOOD_YN				AS 	cmpGoodYn
					    , 	A.CMP_RECURIT_KIND			AS 	cmpRecuritKind
					    ,	A.CMP_RECURIT_PROCESS		AS 	cmpRecuritProcess
					    , 	A.CMP_REPLY_YN				AS 	cmpReplyYn
					FROM	TB_CMP_INFO A
					WHERE	1=1
					AND		A.CMP_OFFER_YN = 'N'
					<if test="null != cmpTitle and !(''.equals(cmpTitle))">
			        AND 	A.CMP_TITLE LIKE CONCAT('%', #{cmpTitle}, '%') 
			        </if>
					<if test="null != cmpLocation and !(''.equals(cmpLocation))">
			        AND 	A.CMP_LOCATION LIKE CONCAT('%', #{cmpLocation}, '%') 
			        </if>
					<if test="null != cmpRecuritKind and !(''.equals(cmpRecuritKind))">
			        AND 	A.CMP_RECURIT_KIND = #{cmpRecuritKind}
			        </if>
					<if test="null != cmpApplyYn and !(''.equals(cmpApplyYn))">
			        AND 	A.CMP_APPLY_YN = #{cmpApplyYn}
			        </if>
					<if test="null != cmpGoodYn and !(''.equals(cmpGoodYn))">
			        AND 	A.CMP_GOOD_YN = #{cmpGoodYn}
			        </if>
			        ORDER BY USE_YN DESC, A.CMP_FAVORITES_YN DESC
			        <if test='"Y" eq orderingFlag'>
			        	, ${orderKind} ${ordering}
			        </if>
			        , A.CMP_DEADLINE_DTTM ASC
					<include refid= "COMMON_PAGING_TAIL"/>
				) V,	
				(select @rownum:=0) R
			) C
			<if test="(null != startIndex and !(''.equals(startIndex))) or (null != pageSize and !(''.equals(pageSize)))">
				LIMIT #{startIndex}, #{pageSize}
			</if>
    </select>
    
    <!-- selectCmpInfoCnt - 회사 정보 목록 내용 카운트-->
    <select id="selectCmpInfoListCnt" resultType="com.techboard.vo.cmpInfo.CmpInfoVO" parameterType="com.techboard.vo.cmpInfo.CmpInfoVO">
	/** selectBoardListCnt- 회사 정보 목록 카운트 **/
	SELECT 	C.*
	FROM	(	
		SELECT 	@rownum:=@rownum+1	AS rownum
			,	V.*
		FROM	(
		<include refid="COMMON_PAGING_HEADER"/>
			SELECT	COUNT(*)	AS cmpInfoCnt
			FROM 	TB_CMP_INFO A
			WHERE	1=1
			AND		A.CMP_OFFER_YN = 'N'
			<if test="null != cmpTitle and !(''.equals(cmpTitle))">
	        AND 	A.CMP_TITLE LIKE CONCAT('%', #{cmpTitle}, '%') 
	        </if>
			<if test="null != cmpLocation and !(''.equals(cmpLocation))">
	        AND 	A.CMP_LOCATION LIKE CONCAT('%', #{cmpLocation}, '%') 
	        </if>
			<if test="null != cmpRecuritKind and !(''.equals(cmpRecuritKind))">
	        AND 	A.CMP_RECURIT_KIND = #{cmpRecuritKind}
	        </if>
			<if test="null != cmpApplyYn and !(''.equals(cmpApplyYn))">
	        AND 	A.CMP_APPLY_YN = #{cmpApplyYn}
	        </if>
			<if test="null != cmpGoodYn and !(''.equals(cmpGoodYn))">
	        AND 	A.CMP_GOOD_YN = #{cmpGoodYn}
	        </if>
	        ORDER BY USE_YN DESC, A.CMP_FAVORITES_YN DESC
	        <if test='"Y" eq orderingFlag'>
	        	, ${orderKind} ${ordering}
	        </if>
	        , A.CMP_DEADLINE_DTTM ASC
        	<include refid= "COMMON_PAGING_TAIL"/>
			) V,	
		(select @rownum:=0) R
		) C
		<if test="(null != startIndex and !(''.equals(startIndex))) or (null != pageSize and !(''.equals(pageSize)))">
			LIMIT #{startIndex}, #{pageSize}
		</if>
    </select>
	
	<!-- cmpInfoInsert - 회사정보 등록-->
    <insert id="cmpInfoInsert" parameterType="com.techboard.vo.cmpInfo.CmpInfoVO">
    	/** cmpInfoInsert-  회사정보 등록 **/
    	INSERT INTO TB_CMP_INFO(
				CMP_NO
			,	CMP_TITLE
		    ,	CMP_LOCATION
		    ,	CMP_FOUNDED_YEAR
		    ,	CMP_EMP_CNT
		    ,	CMP_TOUCH
		    ,	CMP_KIND
		    ,	CMP_DEADLINE_DTTM
		    ,	CMP_JOB_POSITION
		    ,	CMP_JOB_RESPONSE
		    ,	CMP_JOB_QUALIFICATION
		    ,	CMP_JOB_PREFER
		    ,	CMP_WAREFARE
		    ,	CMP_COMMENT
		    ,	REG_DTTM
		    ,	MOD_DTTM
		    ,	CMP_APPLY_YN			
		    ,	CMP_INCEDENCE_RATE	
		    ,	CMP_RESIGNATION_RATE	
		    ,	CMP_RECURIT_URL		
		    ,	CMP_HOMEPAGE_URL		
		    ,	CMP_PROGRAMMER_KIND	
		    ,	CMP_RECURIT_KIND
		    ,	CMP_RECURIT_PROCESS
		    ,	CMP_OFFER_YN
		)
		SELECT COUNT(cmp_no)+1 
			,	#{cmpTitle}
		    ,	#{cmpLocation}
		    ,	#{cmpFoundedYear}
		    ,	#{cmpEmpCnt}
		    ,	#{cmpTouch}
		    ,	#{cmpKind}
		    ,	#{cmpDeadlineDttm}
		    ,	#{cmpJobPosition}
		    ,	#{cmpJobResponse}
		    ,	#{cmpJobQualification}
		    ,	#{cmpJobPrefer}
		    ,	#{cmpWarefare}
		    ,	#{cmpComment}
		    ,	sysdate()
		    ,	date_format(sysdate(), '%Y%m%d')
		    ,	'N'
		    ,	#{cmpIncedenceRate}
		    ,	#{cmpResignationRate}
		    ,	#{cmpRecuritUrl}
		    ,	#{cmpHomepageUrl}
		    ,	#{cmpProgrammerKind}
		    ,	#{cmpRecuritKind}
		    ,	#{cmpRecuritProcess}
		    ,	'N'
		FROM 	TB_CMP_INFO
    </insert>
    
    <!-- selectCmpInfoDetail - 회사정보 상세 조회-->
    <select id="selectCmpInfoDetail" resultType="com.techboard.vo.cmpInfo.CmpInfoVO" parameterType="com.techboard.vo.cmpInfo.CmpInfoVO">
    	/** selectCmpInfoDetail - 회사정보 상세 조회 **/
    	SELECT 	A.CMP_NO				AS 	cmpNo
			,	A.CMP_TITLE				AS 	cmpTitle
		    ,	A.CMP_LOCATION			AS 	cmpLocation	
		    ,	A.CMP_FOUNDED_YEAR		AS 	cmpFoundedYear
		    ,	date_format(sysdate(), '%Y') - A.CMP_FOUNDED_YEAR AS foundedYear
		    ,	A.CMP_EMP_CNT			AS 	cmpEmpCnt
		    ,	A.CMP_TOUCH				AS 	cmpTouch
		    ,	A.CMP_KIND				AS 	cmpKind
		    ,	A.CMP_DEADLINE_DTTM		AS 	cmpDeadlineDttm
		    , 	DATEDIFF(A.CMP_DEADLINE_DTTM, DATE_FORMAT(sysdate(), '%Y%m%d')) AS deadlineDay
		    ,	A.CMP_JOB_POSITION		AS 	cmpJobPosition
		    ,	A.CMP_JOB_RESPONSE		AS 	cmpJobResponse
		    ,	A.CMP_JOB_QUALIFICATION	AS 	cmpJobQualification
		    ,	A.CMP_JOB_PREFER		AS 	cmpJobPrefer
		    ,	A.CMP_WAREFARE			AS 	cmpWareFare
		    ,	A.CMP_COMMENT			AS 	cmpComment
		    ,	A.REG_DTTM				AS 	regDttm
			,	A.MOD_DTTM				AS 	modeDttm
		    ,	A.USE_YN				AS 	useYn
			,	A.CMP_APPLY_YN			AS 	cmpApplyYn
			,	A.CMP_INCEDENCE_RATE	AS 	cmpIncedenceRate
			,	A.CMP_RESIGNATION_RATE	AS 	cmpResignationRate
			,	A.CMP_RECURIT_URL		AS 	cmpRecuritUrl
			,	A.CMP_HOMEPAGE_URL		AS 	cmpHomepageUrl
			,	A.CMP_PROGRAMMER_KIND	AS 	cmpProgrammerKind
			, 	A.CMP_FAVORITES_YN		AS 	cmpFavoritesYn
			, 	A.CMP_GOOD_YN			AS 	cmpGoodYn
			, 	A.CMP_RECURIT_KIND		AS 	cmpRecuritKind
			,	A.CMP_RECURIT_PROCESS	AS 	cmpRecuritProcess
			,	A.CMP_REPLY_YN			AS 	cmpReplyYn
			, 	(SELECT B.CMP_INTERVIEW_PREPARE_INFO FROM TB_CMP_APPLY_INFO B WHERE A.CMP_NO = B.CMP_NO) AS cmpInterviewPrepareInfo
            , 	(SELECT B.CMP_INTERVIEW_REVIEW_INFO FROM TB_CMP_APPLY_INFO B WHERE A.CMP_NO = B.CMP_NO) AS cmpInterviewReviewInfo
		FROM	TB_CMP_INFO A
		WHERE	1=1
		AND		A.CMP_NO = #{cmpNo}
    </select>
    
    <!-- cmpInfoUpdate - 회사정보 수정-->
    <update id="cmpInfoUpdate" parameterType="com.techboard.vo.cmpInfo.CmpInfoVO">
    	/** cmpInfoUpdate-  회사정보 수정 **/
    	UPDATE 	TB_CMP_INFO
    	SET		CMP_TITLE = #{cmpTitle}
    		 <if test="null != cmpRecuritUrl and !(''.equals(cmpRecuritUrl))">
		    ,	CMP_RECURIT_URL = #{cmpRecuritUrl}
			</if>
		    ,	CMP_JOB_POSITION = #{cmpJobPosition}
		    ,	CMP_JOB_RESPONSE = #{cmpJobResponse}
		    ,	CMP_JOB_QUALIFICATION = #{cmpJobQualification}
		    ,	CMP_JOB_PREFER = #{cmpJobPrefer}
		    ,	CMP_WAREFARE = #{cmpWarefare}
		    ,	CMP_RECURIT_PROCESS	= #{cmpRecuritProcess}
		    ,	CMP_DEADLINE_DTTM = #{cmpDeadlineDttm}
		    ,	CMP_FOUNDED_YEAR = #{cmpFoundedYear}
		    ,	CMP_EMP_CNT = #{cmpEmpCnt}
		    ,	CMP_TOUCH = #{cmpTouch}
		    ,	CMP_KIND = #{cmpKind}
    		<if test="null != cmpLocation and !(''.equals(cmpLocation))">
		    ,	CMP_LOCATION = #{cmpLocation}
		    </if>
		    ,	CMP_PROGRAMMER_KIND = #{cmpProgrammerKind}
			<if test="null != cmpHomepageUrl and !(''.equals(cmpHomepageUrl))">
		    ,	CMP_HOMEPAGE_URL = #{cmpHomepageUrl}
			</if>
			<if test="null != cmpComment and !(''.equals(cmpComment))">
		    ,	CMP_COMMENT = #{cmpComment}
		    </if>
		    ,	CMP_INCEDENCE_RATE = #{cmpIncedenceRate}
		    ,	CMP_RESIGNATION_RATE = #{cmpResignationRate}
		    ,	MOD_DTTM = sysdate()
	  		,	CMP_APPLY_YN = #{cmpApplyYn}
		WHERE 	CMP_NO = #{cmpNo}
    </update>
    
    <!-- cmpInfoDelete - 회사정보 삭제 -->
    <update id="cmpInfoDelete" parameterType="com.techboard.vo.cmpInfo.CmpInfoVO">
    	/** cmpInfoDelete - 회사정보 삭제 **/
	    UPDATE 	TB_CMP_INFO
		SET		USE_YN = 'N'
		,		CMP_FAVORITES_YN = 'N'
		WHERE	CMP_NO = #{cmpNo}
    </update>
    
    <!-- cmpInfoUpdateEtc - 회사정보 수정 -범용 -->
    <update id="cmpInfoUpdateEtc" parameterType="com.techboard.vo.cmpInfo.CmpInfoVO">
    	/** cmpInfoUpdateEtc-  회사정보 수정-범용 **/
    	UPDATE 	TB_CMP_INFO
    	SET		CMP_COMMENT = #{cmpComment}
		WHERE 	CMP_NO = #{cmpNo}
    </update>
    
    <!-- cmpInfoUpdateApplyYn - 회사 지원하기 기능 -->
    <update id="cmpInfoUpdateApplyYn" parameterType="com.techboard.vo.cmpInfo.CmpInfoVO">
    	/** cmpInfoUpdateApplyYn - 회사 지원하기 기능 **/
    	UPDATE 	TB_CMP_INFO
    	SET		CMP_APPLY_YN = 'Y'
    	, 		USE_YN = 'N'
    	,		CMP_FAVORITES_YN = 'N'
		WHERE 	CMP_NO = #{cmpNo}
    </update>

    <!-- cmpInfoUpdateFavoritesYn - 즐겨찾기 수정 -->
    <update id="cmpInfoUpdateFavoritesYn" parameterType="com.techboard.vo.cmpInfo.CmpInfoVO">
    	/** cmpInfoUpdateFavoritesYn - 즐겨찾기 수정 **/
    	UPDATE 	TB_CMP_INFO
	  	SET 	CMP_FAVORITES_YN = #{cmpFavoritesYn}
		WHERE 	CMP_NO = #{cmpNo}
    </update>
    
    <!-- cmpInfoUpdateReplyYn - 회사 회신여부 수정-->
    <update id="cmpInfoUpdateReplyYn" parameterType="com.techboard.vo.cmpInfo.CmpInfoVO">
    	/** cmpInfoUpdateReplyYn-  회사정보 회신여부 수정**/
    	UPDATE 	TB_CMP_INFO
	  	SET 	CMP_REPLY_YN = #{cmpReplyYn}
		,		USE_YN = 'N'		
		WHERE 	CMP_NO = #{cmpNo}
    </update>
    
    <!-- cmpInfoUpdateGoodYn - 회사 좋아요 수정-->
    <update id="cmpInfoUpdateGoodYn" parameterType="com.techboard.vo.cmpInfo.CmpInfoVO">
    	/** cmpInfoUpdateGoodYn- 회사 좋아요 수정**/
    	UPDATE 	TB_CMP_INFO
	  	SET 	CMP_GOOD_YN = #{cmpGoodYn}
		WHERE 	CMP_NO = #{cmpNo}
    </update>
    
    <!-- cmpApplyInfoInsert - 회사지원하기 - 회사_지원 테이블 등록 -->
    <insert id="cmpApplyInfoInsert" parameterType="com.techboard.vo.cmpInfo.CmpApplyInfoVO">
    	/** cmpApplyInfoInsert - 회사지원하기 - 회사_지원 테이블 등록 **/
    	INSERT INTO TB_CMP_APPLY_INFO(
				CMP_APPLY_NO
			,	CMP_NO
		    ,	CMP_APPLY_YN
		    ,	CMP_APPLY_DOC_KIND_CODE
		    ,	CMP_APPLY_1ST_KIND_CODE
		    ,	CMP_APPLY_2ST_KIND_CODE
		    ,	CMP_APPLY_DOC_INTERVIEW_INFO
		    ,	CMP_APPLY_1ST_INTERVIEW_INFO
		    ,	CMP_APPLY_2ST_INTERVIEW_INFO
		    ,	CMP_APPLY_DOC_INTERVIEW_DTTM		
		    ,	CMP_APPLY_1st_INTERVIEW_DTTM		
		    ,	CMP_APPLY_2st_INTERVIEW_DTTM
		    ,	CMP_APPLY_DOC_INTERVIEW_TIME
		    ,	CMP_APPLY_1st_INTERVIEW_TIME		
		    ,	CMP_APPLY_2st_INTERVIEW_TIME
		    ,	USER_ID
		    ,	REG_DTTM
		    ,	MOD_DTTM
		    ,	USE_YN
		)
		SELECT COUNT(cmp_no)+1 
			,	#{cmpNo}
		    ,	'Y'
		    ,	'A01'
		    ,	'A00'
		    ,	'A00'
		    ,	'서류지원 완료'
		    ,	NULL
		    ,	NULL
		    ,	DATE_FORMAT(SYSDATE(), '%Y-%m-%d')	
		    ,	NULL		
		    ,	NULL
		    ,	DATE_FORMAT(SYSDATE(), '%H:%i')
		    ,	NULL		
		    ,	NULL
		    ,	'admin'
		    ,	date_format(sysdate(), '%Y%m%d')
		    ,	NULL
		    ,	'Y'
		FROM 	TB_CMP_APPLY_INFO
    </insert>
    
    <!-- selectCmpInfoListTotalDownLoad - 회사 정보 목록 전체 다운로드 -->
    <select id="selectCmpInfoListTotalDownLoad" resultType="com.techboard.vo.cmpInfo.CmpInfoVO" parameterType="com.techboard.vo.cmpInfo.CmpInfoVO">
	/** selectCmpInfoListTotalDownLoad - 회사 정보 목록 전체 다운로드 **/
	SELECT 	C.*
	FROM	(	
		SELECT 	@rownum:=@rownum+1	AS rownum
			,	V.*
		FROM	(
					<include refid="COMMON_PAGING_HEADER"/>
		SELECT 	A.CMP_NO					AS 	cmpNo
			,	A.CMP_TITLE					AS 	cmpTitle
		    ,	A.CMP_LOCATION				AS 	cmpLocation	
		    ,	A.CMP_FOUNDED_YEAR			AS 	cmpFoundedYear
		    ,	date_format(sysdate(), '%Y') - A.CMP_FOUNDED_YEAR AS foundedYear
		    ,	format(A.CMP_EMP_CNT, 0)	AS 	cmpEmpCnt
		    ,	format(A.CMP_TOUCH, 0)		AS 	cmpTouch
		    ,	A.CMP_KIND					AS 	cmpKind
		    ,	A.CMP_DEADLINE_DTTM			AS 	cmpDeadlineDttm
		    , 	DATEDIFF(A.CMP_DEADLINE_DTTM, DATE_FORMAT(sysdate(), '%Y%m%d')) AS deadlineDay
		    ,	A.CMP_JOB_POSITION			AS 	cmpJobPosition
		    ,	A.CMP_JOB_RESPONSE			AS 	cmpJobResponse
		    ,	A.CMP_JOB_QUALIFICATION		AS 	cmpJobQualification
		    ,	A.CMP_JOB_PREFER			AS 	cmpJobPrefer
		    ,	A.CMP_WAREFARE				AS 	cmpWareFare
		    ,	A.CMP_COMMENT				AS 	cmpComment
		    ,	A.REG_DTTM					AS 	regDttm
			,	A.MOD_DTTM					AS 	modeDttm
		    ,	A.USE_YN					AS 	useYn
		    ,	A.CMP_APPLY_YN				AS 	cmpApplyYn
		    ,	A.CMP_INCEDENCE_RATE		AS 	cmpIncedenceRate
		    ,	A.CMP_RESIGNATION_RATE		AS 	cmpResignationRate
		    ,	A.CMP_RECURIT_URL			AS 	cmpRecuritUrl
		    ,	A.CMP_HOMEPAGE_URL			AS 	cmpHomepageUrl
		    ,	A.CMP_PROGRAMMER_KIND		AS 	cmpProgrammerKind
		    , 	A.CMP_FAVORITES_YN			AS 	cmpFavoritesYn
		    , 	A.CMP_GOOD_YN				AS 	cmpGoodYn
		    , 	A.CMP_RECURIT_KIND			AS 	cmpRecuritKind
		    ,	A.CMP_RECURIT_PROCESS		AS 	cmpRecuritProcess
		    , 	A.CMP_REPLY_YN				AS 	cmpReplyYn
		FROM	TB_CMP_INFO A
		WHERE	1=1
		AND		A.CMP_OFFER_YN = 'N'
        ORDER BY USE_YN DESC, A.CMP_FAVORITES_YN DESC, A.CMP_DEADLINE_DTTM ASC
        <include refid= "COMMON_PAGING_TAIL"/>
				) V,	
				(select @rownum:=0) R
			) C
    </select>
    
    <!-- selectCmpInfoListConditionDownLoad - 회사 정보 목록 조건 다운로드 -->
    <select id="selectCmpInfoListConditionDownLoad" resultType="com.techboard.vo.cmpInfo.CmpInfoVO" parameterType="com.techboard.vo.cmpInfo.CmpInfoVO">
	/** selectCmpInfoListConditionDownLoad - 회사 정보 목록 조건 다운로드  **/
	SELECT 	C.*
	FROM	(	
		SELECT 	@rownum:=@rownum+1	AS rownum
			,	V.*
		FROM	(
					<include refid="COMMON_PAGING_HEADER"/>
					SELECT 	A.CMP_NO					AS 	cmpNo
						,	A.CMP_TITLE					AS 	cmpTitle
					    ,	A.CMP_LOCATION				AS 	cmpLocation	
					    ,	A.CMP_FOUNDED_YEAR			AS 	cmpFoundedYear
					    ,	date_format(sysdate(), '%Y') - A.CMP_FOUNDED_YEAR AS foundedYear
					    ,	format(A.CMP_EMP_CNT, 0)	AS 	cmpEmpCnt
					    ,	format(A.CMP_TOUCH, 0)		AS 	cmpTouch
					    ,	A.CMP_KIND					AS 	cmpKind
					    ,	A.CMP_DEADLINE_DTTM			AS 	cmpDeadlineDttm
					    , 	DATEDIFF(A.CMP_DEADLINE_DTTM, DATE_FORMAT(sysdate(), '%Y%m%d')) AS deadlineDay
					    ,	A.CMP_JOB_POSITION			AS 	cmpJobPosition
					    ,	A.CMP_JOB_RESPONSE			AS 	cmpJobResponse
					    ,	A.CMP_JOB_QUALIFICATION		AS 	cmpJobQualification
					    ,	A.CMP_JOB_PREFER			AS 	cmpJobPrefer
					    ,	A.CMP_WAREFARE				AS 	cmpWareFare
					    ,	A.CMP_COMMENT				AS 	cmpComment
					    ,	A.REG_DTTM					AS 	regDttm
						,	A.MOD_DTTM					AS 	modeDttm
					    ,	A.USE_YN					AS 	useYn
					    ,	A.CMP_APPLY_YN				AS 	cmpApplyYn
					    ,	A.CMP_INCEDENCE_RATE		AS 	cmpIncedenceRate
					    ,	A.CMP_RESIGNATION_RATE		AS 	cmpResignationRate
					    ,	A.CMP_RECURIT_URL			AS 	cmpRecuritUrl
					    ,	A.CMP_HOMEPAGE_URL			AS 	cmpHomepageUrl
					    ,	A.CMP_PROGRAMMER_KIND		AS 	cmpProgrammerKind
					    , 	A.CMP_FAVORITES_YN			AS 	cmpFavoritesYn
					    , 	A.CMP_GOOD_YN				AS 	cmpGoodYn
					    , 	A.CMP_RECURIT_KIND			AS 	cmpRecuritKind
					    ,	A.CMP_RECURIT_PROCESS		AS 	cmpRecuritProcess
					    , 	A.CMP_REPLY_YN				AS 	cmpReplyYn
					FROM	TB_CMP_INFO A
					WHERE	1=1
					AND		A.CMP_OFFER_YN = 'N'
					<if test="null != cmpTitle and !(''.equals(cmpTitle))">
			        AND 	A.CMP_TITLE LIKE CONCAT('%', #{cmpTitle}, '%') 
			        </if>
					<if test="null != cmpLocation and !(''.equals(cmpLocation))">
			        AND 	A.CMP_LOCATION LIKE CONCAT('%', #{cmpLocation}, '%') 
			        </if>
					<if test="null != cmpRecuritKind and !(''.equals(cmpRecuritKind))">
			        AND 	A.CMP_RECURIT_KIND = #{cmpRecuritKind}
			        </if>
					<if test="null != cmpApplyYn and !(''.equals(cmpApplyYn))">
			        AND 	A.CMP_APPLY_YN = #{cmpApplyYn}
			        </if>
					<if test="null != cmpGoodYn and !(''.equals(cmpGoodYn))">
			        AND 	A.CMP_GOOD_YN = #{cmpGoodYn}
			        </if>
			        ORDER BY USE_YN DESC, A.CMP_FAVORITES_YN DESC
			        <if test='"Y" eq orderingFlag'>
			        	, ${orderKind} ${ordering}
			        </if>
			        , A.CMP_DEADLINE_DTTM ASC
					<include refid= "COMMON_PAGING_TAIL"/>
				) V,	
				(select @rownum:=0) R
			) C
			<if test="(null != startIndex and !(''.equals(startIndex))) or (null != pageSize and !(''.equals(pageSize)))">
				LIMIT #{startIndex}, #{pageSize}
			</if>
    </select>
    
</mapper>